<p>home works!</p>
<!-- As a link -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
    </div>
  </nav>
  
  <!-- As a heading -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </div>
  </nav>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quae eum quos enim facilis amet dolor voluptates similique? Earum quam sequi aut amet est omnis deleniti tempora possimus ipsum nisi.This is a ball. A ball is a spherical object used in various sports and games.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nostrum deserunt aliquam aut optio officiis hic perspiciatis quas, laudantium maiores tenetur, tempore temporibus quasi delectus minima! Minima dolorem possimus hic!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias hic porro ea deserunt est dolor iure aut in. Cupiditate similique impedit voluptatibus vitae animi voluptatem totam itaque eligendi possimus? Tempore.</p>