
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
        </div>
      </nav>
      
      <!-- As a heading -->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Navbar</span>
        </div>
      </nav>
    </div>
  </div>
</div>
<nav>
  <ul>

    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>


  </ul>
</nav>
<div>
  <p style="background-color: burlywood; height: 100px; width: 20%;">leftsidebar here!</p>
  
</div>
 

<router-outlet></router-outlet>
