<app-home></app-home>
<app-category></app-category>
<app-best-selling-products></app-best-selling-products>
<app-sale-and-discount></app-sale-and-discount>
<app-featured-products></app-featured-products>
<app-discount-and-submit></app-discount-and-submit>
<app-most-popular-products></app-most-popular-products>
<app-just-arrived></app-just-arrived>
<app-our-recent-blog></app-our-recent-blog>
<app-orange-template-footer></app-orange-template-footer>
<app-people-are-also-looking-for></app-people-are-also-looking-for>
<app-free-delivery-daily-offers-footer></app-free-delivery-daily-offers-footer>